span {
  display: inline-block;
  background-color: #eee;
}

$basecolor: rgba(50, 205, 50, 0.8);

@mixin transition($transition) {
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

div.square:hover {
  background-color: darken($basecolor, 40%);
  @include transition(background-color 500ms ease);
}

div.square {
  background-color: lighten($basecolor, 10%);
  @include transition(background-color 500ms ease);
}